In [1]:
#Vectors, c function is short for combine
c(1,2,3)

[1] 1 2 3

In [33]:
my.vect <- c(2,4,6)
prac.vect <- c(1,2,3)

In [6]:
print(my.vect)

[1] 2 4 6

In [7]:
my.vect[1]

[1] 2

In [9]:
#R does not start indexing at 0, but position 1
my.vect[0]

numeric(0)

In [15]:
vct <- my.vect[2:3]

In [16]:
vct

[1] 4 6

In [18]:
class(vct)

[1] "numeric"

In [26]:
#character vectors
vct2 <- c('1','nick',10,2.9)

In [27]:
class(vct2)
class(vct2[2])
class(vct2[4])

[1] "character"

[1] "character"

[1] "character"

In [46]:
#Boolean check for character types
is.character(vct2)

[1] TRUE

In [58]:
#convert types
b <- '23'
b
class(b)
b <- as.numeric(b)
class(b)

[1] "23"

[1] "character"

[1] "numeric"

In [61]:
#Switch vector values
c <- c(10,11,12)
c
c[2] <- -11
c

[1] 10 11 12

[1]  10 -11  12

In [36]:
#To see a list of namespace variables
ls()
#To delete a variable
rm(prac.vect)

[1] "my.vect" "vct"     "vct2"

Warning message:
In rm(prac.vect): object 'prac.vect' not found

In [30]:
#To see the files in the current working directory
dir()

 [1] "adequatepop.csv"                  "adequatewater.csv"
 [3] "femaleControlsPopulation.csv"     "femalemiceweights.csv"
 [5] "inadequate.csv"                   "mice_pheno.csv"
 [7] "Rbasics.ipynb"                    "rpractmice.ipynb"
 [9] "Untitled.ipynb"                   "Untitled1.ipynb"
[11] "waterterpenestatusRosmarinus.csv"

In [38]:
#To see the working directory
getwd()

[1] "C:/Users/Nick/Documents/GitHub/Rlifescience"

In [40]:
#NA and NaN can be used
a <- c(NA,4,NA,NA,10)

In [41]:
print(a)

[1] NA  4 NA NA 10

In [44]:
#To check by boolean analysis if values in a vector are NA
is.na(a)

[1]  TRUE FALSE  TRUE  TRUE FALSE

In [45]:
#To index and only show non-NA values
a[!is.na(a)]

[1]  4 10

In [65]:
#numeric to character conversion
a <- 3.0
class(a)
b <- as.character(a)
b
a <- 4
b
#Note how after reassigning a there is no reflection in b

[1] "numeric"

[1] "3"

[1] "3"

In [71]:
#Floats are referred to as doubles (numeric class)
is.character(b)
is.integer(a)
is.double(a)

[1] TRUE

[1] FALSE

[1] TRUE

In [72]:
ls()

[1] "a"       "b"       "c"       "my.vect" "vct"     "vct2"

In [74]:
#If you index out of range rather than throwing an error NA is returned
vct2[100]

[1] NA

In [76]:
#To retrieve the last element of a vector, index by the length
vct2
vct2[length(vct2)]

[1] "1"    "nick" "10"   "2.9"

[1] "2.9"

In [82]:
#Indexing by vectors
vct3 <- vct2[c(1,3,4)]
vct4 <- vct2[1:3]
vct4

[1] "1"    "nick" "10"

# Vector functions

In [88]:
#Mean, standard deviation, minimum and maximum values, sum
my_vect <- 1:16
mean(my_vect)
sd(my_vect)
min(my_vect)
max(my_vect)
sum(my_vect)

[1] 8.5

[1] 4.760952

[1] 1

[1] 16

[1] 136